*.pyc
*.png
*.npy
*.npz
.idea/*

*.mp4
*.gif
*.pt
*.err
*.out
*.pdf
*.sif

data/*

.ipynb_checkpoints/*
models/.ipynb_checkpoints*
SubspaceExtraction/.ipynb_checkpoints*
Curvature/.ipynb_checkpoints*
